<h2>Drake's Template</h2>


<ul>
  <% _(collection.models).each(function(post) { %>
    <li>
      <a href="#posts/<%= post.id %>"><%= post.get("title") %></a>
      <button class="delete-button" data-id="<%= post.id %>">Delete Post</button>
    </li>
  <% });%>
</ul>

