<h1>THIS IS THE FORM</h1>

<form class="post-form">
  <label>Title
    <input type="text" name="title">
  </label>
  
  <label>Body
    <textarea name="body"></textarea>
  </label>
  
  <button>Submit</button>
</form>